*{
  padding: 0%;
  margin: 0%;
}

.features{
  display: flex;
  /* width: 1280px; */
  padding: 120px 55px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  }

  .logobar{
display: flex;
/* width: 1280px; */
padding: 60px 55px;
flex-direction: column;
align-items: center;
gap: 10px;
  }


  .logos{
    border-top: 1px solid #D8D8D8;
border-bottom: 1px solid #D8D8D8;
display: flex;
padding: 60px 0px;
justify-content: space-between;
align-items: center;
align-self: stretch;
  }
  
  .headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  }
  
  .featuretext{
  color: #000;
  text-align: center;
  
  /* Display M */
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 49.4px */
  letter-spacing: -0.76px;
  }

  .featuretest2{
    color: #2D2D2D;
  text-align: center;
  
  /* Body M */
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  }
  
  .featurecards{
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
  }

  .cardsrow{
display: flex;
align-items: flex-start;
gap: 30px;
align-self: stretch;
  }

  .FeatureCard{
display: flex;
width: 370px;
padding: 40px 30px;
flex-direction: column;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 20px;
border: 1px solid var(--CTA---Aqua-Squeeze, #E5F4F2);
background: #FFF;
box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
  }

  .border{
display: flex;
padding: 20px;
align-items: flex-start;
gap: 10px;
display: flex;
padding: 20px;
align-items: flex-start;
gap: 10px;
  }

  .featureimg{
width: 42px;
height: 42px;
  }

  .logoos{
display: flex;
width: 90px;
height: 27px;
padding-right: 0.111px;
justify-content: center;
align-items: center;
}

.HighlightedCTA{
display: flex;
/* width: 1280px; */
padding: 120px 55px;
justify-content: center;
align-items: center;
gap: 60px;
background: var(--Neutral---Zircon, #F8F9FF);
}

.circle{
/* display: flex; */
width: 378px;
height: 401.374px;
/* padding: 85px 57px 0px 57px; */
justify-content: center;
align-items: center;
border-radius: 10000px;
flex-shrink: 0;
/* width: 378px;
height: 401.374px;
flex-shrink: 0;
border-radius: 401.374px; */
background: #F2BFAF;

}

.Ellipse1{
width: 189px;
height: 188px;
flex-shrink: 0;
stroke-width: 31.552px;
/* stroke: #009379; */

}

.MobileMockup{
width: 264px;
height: 507.692px;
/* flex-shrink: 0; */
border-radius: 100px;

}
.Ellipse2{
width: 107px;
height: 107px;
flex-shrink: 0;
stroke-width: 31.552px;

}

.Highlitext{
  align-self: stretch;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Display L */
font-family: Poppins;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 65px */
letter-spacing: -1px;
}

.Highlitext2{
  color: var(--Onboarding-background-grey, #2D2D2D);
  align-self: stretch;
  /* Body L */
  font-family: Mulish;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 31.5px */
}

.pricingstart{
display: flex;
width: 100%;
padding: 120px 55px;
flex-direction: column;
align-items: center;
gap: 60px;
}

.headlineFullDiv{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}

.pricingtext{
  color: #000;
text-align: center;

/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}

.pricingtext2{
color: #2D2D2D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
}


.CardsRowpricing{
display: flex;
align-items: flex-start;
gap: 30px;
}


.PrcingCard{
display: flex; 
width: 370px;
padding: 40px 30px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
border-radius: 20px;
border: 1px solid var(--Neutral---Zircon, #F8F9FF);
background: #FFF;
box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
}


.Pricingdollor{
display: flex;
align-items: baseline;
gap: 12px;
align-self: stretch;
}

.dollor{
  color: #2D2D2D;

/* Display L */
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 65px */
letter-spacing: -1px;
}

.months{
  flex: 1 0 0;
  color: #3B3B3B;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
}

.Bestfor{
  align-self: stretch;
  color: #2D2D2D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
}

.writefuture{
  display: flex;
flex-direction: row;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.testpage{
display: flex;
width: 100%;
padding: 120px 55px;
flex-direction: column;
align-items: flex-start;
gap: 60px;
}

.Teamimg{
display: flex;
align-items: flex-start;
gap: 30px;
}

.Imghere{
display: flex;
width: 370px;
padding-bottom: 30px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
border-radius: 20px;
background: #FFF;
box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
}


.starttest{
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}

.ourteam{
  color: #000;
text-align: center;

/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}


.Gettoknow{
  color: #2D2D2D;
text-align: center;

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.right{
width: 20px;
height: 20px;
}

.Writehere{
  color: #2D2D2D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 20.8px */
}


.pricingbutton{
display: flex;
height: 60px;
padding: 16px 50px;
justify-content: center;
align-items: center;
gap: 8px;
align-self: stretch;
border-radius: 20px;
background: #E5F4F2;
}

.getstarted{
  color: #009379;
text-align: center;
font-feature-settings: 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}

.Free{
  align-self: stretch;
  color: #2D2D2D;

/* Body L */
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 31.5px */
}


.CTATeXT{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
flex: 1 0 0;
}

.HighButton{
display: flex;
height: 60px;
padding: 16px 50px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 20px;
}
.Visuals{
width: 540px;
height: 450px;
flex-shrink: 0;
}

  .Fast{
    align-self: stretch;
    color: #2D2D2D;
text-align: center;

/* Display S */
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 36.4px */
letter-spacing: -0.28px;
  }
 
  .FASTBAR{
    color: #2D2D2D;
text-align: center;

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
align-self: stretch;
  }

  .Learn{
    border-radius: 20px;
    display: flex;
height: 30px;
justify-content: center;
align-items: center;
gap: 8px;
  }
  
  .LearnMORE{
    color: #009379;
text-align: center;
font-feature-settings: 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
  }

  .arrow{
    width: 20px;
height: 20px;
flex-shrink: 0;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav_container{
display: flex;
padding: 20px 50px;
justify-content: space-between;
align-items: center;
align-self: stretch;
}
.inside_nav_container{

display: flex;
align-items: center;
gap: 6px;

}
.nav_logo{
  display: flex;
align-items: center;
gap: 6px;
}
.title_with_logo{
  color: #2D2D2D;

text-align: center;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 27.3px */
}
.title_span{
  color: #2D2D2D;
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.left_nav{
  display: flex;
justify-content: flex-end;
align-items: center;
/* gap: 20px; */
/* padding-left: 600px; */
}
.nav_contact_button{

display: flex;
height: 30px;
/* justify-content: center; */
align-items: center;
/* gap: 8px; */
margin-right: 25px;
/* border-radius: 20px; */
}
.button_class{
display: flex;
height: 60px;
padding: 16px 50px;
justify-content: center;
align-items: center;
gap: 8px;
border: none;
border-radius: 20px;
background: #E5F4F2;
}

.bg-dark {
  /* color: #ffff !important; */
  background: #009379;
}

.text-white{
  color: #ffff !important;
}



.button-text{
  color: #009379;
text-align: center;
font-feature-settings: 'liga' off;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}

.title_logo{
  display: flex;
align-items: center;
gap: 6px;
}
.hero_container{
  display: flex;
/* width: 1280px; */
padding: 120px 55px;
justify-content: space-between;
align-items: center;
}
.hero_left_div{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.hero_right_div{
  width: 450px;
height: 450px;
flex-shrink: 0;
}
.hero_left_title{

  align-self: stretch;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Display XL */
font-family: Poppins;
font-size: 67px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 87.1px */
letter-spacing: -1.675px;
}
.hero_left_content{

  align-self: stretch;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Body L */
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 31.5px */
}
.hero_span{
  color: var(--Blue, #36F);
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.left_hero_button{
  display: flex;
align-items: flex-start;
gap: 18px;
}
.right_div_circle{
  width: 401.374px;
height: 401.374px;
flex-shrink: 0;
border-radius: 401.374px;
background: #F2BFAF;
}
.right_div_eclipse{
  width: 146.565px;
height: 146.565px;
flex-shrink: 0;
stroke-width: 31.552px;
stroke: #009379;
}
.rocket_button{
  display: flex;
height: 60px;
padding: 16px 25px;
justify-content: center;
align-items: center;
gap: 8px;
}
.rocket{
  width: 20px;
height: 20px;
flex-shrink: 0;
}
.mat_container{
  display: flex;
/* width: 1280px; */
padding: 120px 55px;
flex-direction: column;
align-items: center;
gap: 60px;
background: var(--Neutral---Zircon, #F8F9FF);
}

.mat_inner_container{

  display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}
.mat_inner_div{
  color: #000;
text-align: center;

/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}
.mat_inner_second_div{
  color: #2D2D2D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
align-self: stretch;
}
.mat_inner_map{
  display: flex;
padding: 48px 16px;
flex-direction: column;
align-items: center;
gap: 5px;
flex: 1 0 0;

border-radius: 20px 20px 0px 0px;
border-bottom: 4px solid var(--Accent---Mandys-Pink, #F2BFAF);
background: var(--White, #FFF);
box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
}
.mat_inner_map_first{
  align-self: stretch;
  color: #2D2D2D;

text-align: center;
/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}
.mat_inner_map_second{
  align-self: stretch;
  color: #2D2D2D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
}
.bigb{
  display: flex;
width: 1170px;
align-items: flex-start;
gap: 30px;
}
.testo_main_container{
  display: flex;
/* width: 1280px; */
padding: 120px 55px;
flex-direction: column;
align-items: center;
gap: 60px;
}
.testo_heading{
  display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
align-self: stretch;
}
.testo_title1
{
  align-self: stretch;
  color: #000;
text-align: center;

/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}
.testo_title2{
  align-self: stretch;
  color: #2D2D2D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 20.8px */
}
.testo_main_map{
  display: flex;
width: 1200px;
justify-content: center;
align-items: flex-start;
gap: 30px;
}
.testo_card{
  display: flex;
padding: 40px 30px;
flex-direction: column;
align-items: center;
gap: 30px;
flex: 1 0 0;
border-radius: 20px;
border: 1px solid var(--CTA---Aqua-Squeeze, #E5F4F2);
background: #FFF;
box-shadow: 34.854px 29.626px 48.34px 0px rgba(51, 102, 255, 0.05);
}
.testo_inner_card{
  display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
align-self: stretch;
}
.testo_iner_iner_card{

  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
}
.testo_pic{
  width: 56px;
height: 56px;
border-radius: 56px;
background: lightgray 0px -8.995px / 100% 149.982% no-repeat;
}
.testo_iner_card_text1{
  align-self: stretch;
  color: var(--Neutral-900, #111827);
text-align: center;

/* Display XS */
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 27.3px */
}
.testo_iner_card_text2{

  align-self: stretch;
  color: var(--Neutral-700, #374151);
text-align: center;

/* Body S */
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
.testo_iner_card_text3{
  align-self: stretch;
  color: #2D2D2D;
text-align: center;

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.star_div{

  display: flex;
justify-content: center;
align-items: flex-start;
gap: 5px;
align-self: stretch;
}
.star_pro{
  width: 24px;
height: 23.085px;
}
.Contact_container{

  display: flex;
/* width: 1280px; */
padding: 60px 55px;
justify-content: center;
align-items: flex-start;
gap: 60px;
background: var(--Neutral---Zircon, #F8F9FF);
}
.Contact_container_inner{
  display: flex;
padding: 60px;
flex-direction: column;
align-items: flex-start;
gap: 60px;
flex: 1 0 0;
border-radius: 20px;
border: 1px solid var(--CTA---Aqua-Squeeze, #E5F4F2);
background: #FFF;
}
.contact_inner_body{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}
.contact_inner_body_text_l{
  width: 465px;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Display M */
font-family: Poppins;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 49.4px */
letter-spacing: -0.76px;
}
.contact_inner_body_text_s{

  align-self: stretch;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.contact_left_div{
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}
.contact_right_div{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.contact_left_div_inner{
  display: flex;
width: 465px;
align-items: center;
gap: 12px;
}
.contact_left_div_inner_pic{
  width: 24px;
height: 24px;
flex-shrink: 0;
}
.contact_left_div_inner_pic_with_text{
  flex: 1 0 0;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.contact_next_div{
  display: flex;
width: 465px;
align-items: center;
gap: 12px;
}
.contact_join_div{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}
.social_media{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
padding-top: 42px
}
.connect_with{
  width: 465px;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Display XS */
font-family: Poppins;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 130%; /* 27.3px */
}
.social_media_icon{
  display: flex;
align-items: center;
gap: 16px;
}
.contact_input_div{
  display: flex;
height: 30px;
padding: 8px 20px;
align-items: center;
gap: 12px;
align-self: stretch;
border-radius: 20px;
border: 1px solid var(--Deviders---Grey, #D8D8D8);
background: #FFF;
width: 145%;
}
.input_pic{
  width: 20px;
height: 20px;
}
.contact_left_right{
  display: flex;
}
.cont_input_class{
  flex: 1 0 0;
  color: var(--Onboarding-background-grey, #2D2D2D);

/* Body M */
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
border: none;
}
.footer_containetr{
  display: flex;
padding: 24px 60px;
justify-content: space-between;
align-items: center;
align-self: stretch;
background: #2D2D2D;
}
.footer_content{
  color: #FFF;
font-feature-settings: 'liga' off;
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.Footer_social{
  display: flex;
align-items: center;
gap: 16px;
}